{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Search Assets
{% endblock %}


{% block content %}

<div class="container">
	<div class="row pb-5">
		<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

		<h1 class="pt-5 pb-2">Search Assets</h1>


			<p class="lead alert alert-primary">Search for a new asset.</p>

			<p class="ml-4"><a href="{{ url_for('index') }}">Return to the asset index.</a></p>

			<!-- show flash - based on WTForms validators
				 see https://pythonprogramming.net/flash-flask-tutorial/
				 get_flashed_messages() exists here because of flash()
				 in the route function
				 -->
			{% with errors = get_flashed_messages() %}
				{% if errors %}
					{% for err in errors %}
						<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{ err }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<!-- end of flash -->
			<form action="http://127.0.0.1:5000/search_assets/" method="POST">
				Search: : <input type="text" name="searchbar"><br>
				<input type="submit" value="submit">
			  </form>

	  <!-- start form - not using WTForms here -->
	  <form method="POST" id="form2" action="{{ url_for('edit_or_delete') }}">

		<table class="table">
			<tr>
				<th></th>
				<th>Machine</th>
				<th>Employee</th>
				<th>IIA Tag</th>
				<th>Serial</th>
				<th>MAC</th>
				<th>Location</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			
			  {% for asset in assets %}
			  <tr>
				  <td class="center-align"><input type="radio" name="id" value="{{ asset.machine }}" required></td>
				  <td>{{ asset.machine }}</td>
				  <td>{{ asset.employee }}</td>
				  <td>{{ asset.tag }}</td>
				  <td>{{ asset.serial }}</td>
				  <td>{{ asset.mac }}</td>
				  <td>{{ asset.location }}</td>
			  </tr>
			  {% endfor %}
		  </table>
  
		  <div class="form-group lead alert alert-success pb-4">
			<p>What do you want to do with the selected record?</p>
  
			<div class="form-check form-check-inline">
			<label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="delete" required> Delete it</label>
			</div>
			<div class="form-check form-check-inline">
			<label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="edit" required> Edit it</label>
			</div>
		  </div><!-- end form-group -->
  
		  <div class="form-group">
			  <input class="btn btn-success" type="submit" value="Submit Choice">
		  </div>
  
		  </form>
		  </div>
	  </div>
  </div>
  
  {% endblock %}