{% extends 'layout.html' %}


{% block content %}

<div class="container">
  <h3>Matching assets</h3>
  <table class="table">
    <tr>
      <th></th>
      <th>Machine</th>
      <th>Employee</th>
      <th>IIA Tag</th>
      <th>Serial</th>
      <th>MAC</th>
      <th>Location</th>
    </tr>

    <!-- here is a for-loop to give us all the assets -->
    
      {% for asset in assets %}
      <tr>
        <td class="center-align"><input type="radio" name="id" value="{{ asset.machine }}" required></td>
        <td>{{ asset.machine }}</td>
        <td>{{ asset.employee }}</td>
        <td>{{ asset.tag }}</td>
        <td>{{ asset.serial }}</td>
        <td>{{ asset.mac }}</td>
        <td>{{ asset.location }}</td>
      </tr>
      {% endfor %}
    </table>

</div>

</body>
</html>

{% endblock %}
