{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Widgets Inc
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Widgets Inc.</h1>

      <p class="lead">Index of all Widget Inc. Assets</p>

      <p>For more details click asset:</p>
      <p>You can <a href="{{ url_for('add_record') }}">add a new asset</a>.</p>
      <p>You can <a href="{{ url_for('select_record', letters='AF') }}">sort employees alphabetically</a>.</p>
      <p>You can <a href="{{ url_for('search_assets') }}">search current assets</a>.</p>
      <ul style="column-count: 4">
          {% for s in machines %}
          <li display: inline><a href="{{ url_for( 'inventory', machine=s.machine ) }}">{{ s.machine }}</a></li>
          {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}