{% extends 'layout.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div style="text-align: center">
        <img src="/static/titledwidget.jpg" width="200" height="75">

        <p class="lead">Index of all Widget Inc. Assets</p>

        <p>For more details click asset:</p>
      
      <table class="table">
        <tr>
          <th>Machine</th>
          <th>Employee</th>
          <th>IIA Tag</th>
          <th>Serial</th>
          <th>MAC</th>
          <th>Location</th>
        </tr>
    
        <!-- here is a for-loop to give us all the assets -->
        
          {% for asset in assets %}
          <tr>
            <td><a href="{{ url_for( 'inventory', machine=asset.machine ) }}">{{ asset.machine }}</a></td>
            <td>{{ asset.employee }}</td>
            <td>{{ asset.tag }}</td>
            <td>{{ asset.serial }}</td>
            <td>{{ asset.mac }}</td>
            <td>{{ asset.location }}</td>
            <td>
            <form method ="post" action="/">
              <a class="btn btn-outline-primary btn-sm" href="/edit/{{ asset.machine }}" role="button">Edit</a>
              <a class="btn btn-outline-danger btn-sm" href="/delete/{{ asset.machine }}" role="button">Delete</a>
            </form> 
            </td>
          </tr>
          {% endfor %}
        </table>

    </div>
  </div>
</div>
{% endblock %}