{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
		<img src="/static/titledwidget.jpg" width="200" height="75">

      <p class="lead alert alert-primary">Displaying asset details for 
			<strong>{{ machine }}</strong>.</p>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the index.</a></p>

		<table class="table">
			<tr>
				<th>Employee</th>
				<th>Tag</th>
				<th>Serial</th>
				<th>Mac</th>
				<th>Location</th>
			</tr>

			<!-- here is a for-loop to give us all the assets -->
			{% for machine in machines %}
			<tr>
				<td>{{ machine.employee }}</td>
				<td>{{ machine.tag }}</td>
				<td>{{ machine.serial }}</td>
				<td>{{ machine.mac }}</td>
				<td>{{ machine.location }}</td>
			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>
{% endblock %}