{% extends 'layout.html' %}


{% block title %}
Select an Asset
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
		<table class="table">
			<tr>
				<th>Machine</th>
				<th>Employee</th>
				<th>IIA Tag</th>
				<th>Serial</th>
				<th>MAC</th>
				<th>Location</th>
			</tr>

			<!-- here is a for-loop to give us all the assets -->
			{% for asset in assets %}
			<tr>
				<td>{{ asset.machine }}</td>
				<td>{{ asset.employee }}</td>
				<td>{{ asset.tag }}</td>
				<td>{{ asset.serial }}</td>
				<td>{{ asset.mac }}</td>
				<td>{{ asset.location }}</td>
				<td>
					<form method ="post" action="/">
					  <a class="btn btn-outline-primary btn-sm" href="/edit/{{ asset.machine }}" role="button">Edit</a>
					  <a class="btn btn-outline-danger btn-sm" href="/delete/{{ asset.machine }}" role="button">Delete</a>
					</form> 
					</td>
			</tr>
			{% endfor %}
		</table>


		</form>
	</div>
</div>

{% endblock %}